<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Delete Check-In Record</h2>
<p>Are you sure you want to delete check-in record for <strong>{{ checkin.passenger }}</strong> on flight <strong>{{ checkin.flight }}</strong>?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
    <a href="{% url 'checkin_list' %}">Cancel</a>
</form>

</body>
</html>