<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Flights</h1>
    <a href="{% url 'flight_add' %}">Add Flight</a>
    <ul>
        {% for flight in flights %}
            <li>
                {{ flight }} 
                [<a href="{% url 'flight_edit' flight.pk %}">Edit</a>] 
                [<a href="{% url 'flight_delete' flight.pk %}">Delete</a>]
            </li>
        {% empty %}
            <li>No flights available.</li>
        {% endfor %}
    </ul>
</body>
</html>