<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Book List</h2>
<a href="{% url 'add_book' %}">Add Book</a>
<ul>
    {% for book in books %}
        <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> - {{ book.author }} 
            <a href="{% url 'edit_book' book.id %}">Edit</a> | 
            <a href="{% url 'delete_book' book.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>

